$menu-height: 3%;


#three-helper-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
    pointer-events: none;

    #three-helper-menu {
        width: 100%;
        height: $menu-height;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        pointer-events: auto;

        .menu {
            overflow: hidden;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: #3c3f41;

            .menu-item {
                height: inherit;
                width: 100px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-right: 5px;
                margin-left: 5px;

                &:hover {
                    background-color: #757575;
                }

                .tag {
                    height: fit-content;
                    width: fit-content;
                    color: white;
                    font-size: large;
                }

                .export {
                    .dropbtn {
                        color: white;
                        padding: 16px;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                        /* 在鼠标移上去后显示下拉菜单 */
                        &:hover &.dropdown-content {
                            background: red;
                            display: block;
                        }

                        /* 当下拉内容显示后修改下拉按钮的背景颜色 */
                        &:hover &.dropbtn {
                            background-color: #282828;
                        }
                    }

                    /* 容器 <div> - 需要定位下拉内容 */
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    /* 下拉内容 (默认隐藏) */
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            &:hover {
                                background-color: #f1f1f1
                            }
                        }
                    }
                }

            }
        }
    }

    #three-helper-left-side-bar {
        position: fixed;
        width: 200px;
        height: 80%;
        top: $menu-height;
        left: 0;
        color: #fff;
        background: #2f3137;
        z-index: 99999;
        overflow: scroll;
        pointer-events: auto;

        &::-webkit-scrollbar {
            width: 9px;
            background: transparent;
            height: 9px;
            color: #3b3636;
        }

        &::-webkit-scrollbar-track {
            background: #bccab1; /* color of the tracking area */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #fbaeae; /* color of the scroll thumb */
            border-radius: 6px; /* roundness of the scroll thumb *//* creates padding around scroll thumb */
        }

        @keyframes highlight-selected {
            from {
                border-color: yellow;
                border-width: thin;
                border-style: solid;
            }
            to {
                border-color: red;
                border-width: thick;
                border-style: solid;
            }
        }

        @-webkit-keyframes highlight-selected /* Safari 与 Chrome */
        {
            from {
                border-color: yellow;
                border-style: solid;
            }
            to {
                border-color: red;
                border-style: solid;
            }
        }

        .find-out {
            animation: highlight-selected 0.1s 5;
        }

        .selected {
            background-color: #1abc9c;
        }

        .caretOver, .caret {
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            user-select: none;
            margin-top: 20px
        }

        .caretOver:hover, .caret:hover {
            background: olive;
        }

        .caret:before {
            content: "\25B6";
            color: #1abc9c;
            display: inline-block;
            margin-right: 5px;
        }

        .caretDown::before {
            transform: rotate(90deg);
        }

        .nested {
            display: none;
            padding-inline-start: 20px;
            margin: 0
        }

        .active {
            display: block;
        }
    }

    #three-helper-pane {
        position: fixed;
        width: auto;
        height: auto;
        max-height: 100%-$menu-height;
        top: $menu-height;
        right: 0;
        z-index: 99999;
        background: #2f3137;
        overflow: scroll;
        pointer-events: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
