.prompt {
    position: absolute;
    top: 0;
    width: 100px;
    height: 40px;
    border: 1px solid red;
    right: -110px;
    animation: moveIn 5s;

    @keyframes moveIn {
        0% {
            right: -110px;
        }
        10% {
            right: 0;
        }
        90% {
            right: 0;
        }
        100% {
            right: -110px;
        }
    }

}

