@import 'Constant';

#three-helper-pane {
	position: absolute;
	right: 0;
	top: 0;
	height: auto;
	max-height: 50%;
	z-index: 1;
	background: #2f3137;
	overflow: scroll;
	pointer-events: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
